*{
    margin:0px;
    padding:0px;
}

.form-container{
    margin: auto;
    background: #fff;
    width: 42%;
    padding: 30px;
    box-shadow: 10px 10px 10px 10px #202123;
    border-radius: 10px;
    margin-top:20px;
    margin-bottom: 30px;
}



.navbar-nav .nav-item .nav-link {
    color: rgb(160, 151, 151);
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: rgb(119, 46, 223);
}



*{
    box-sizing: border-box;
}

body {
    font-family: "Raleway";
    background-color: #e6e6e6;

}

.card {
    width: 700px;
    margin: 75px auto 0;
    background-color: #fff;
    box-shadow: 0 3px 30px rgba(0, 0, 0, .14);
    color: #444;
    text-align: center;
    font-size: 16px;
}

.card .card-header {
    position: relative;
    height: 48px;
}

.card .card-header .profile-img {
    width: 150px;
    height: 150px;
    border-radius: 1000px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 6px solid #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.card .card-body {
    padding: 10px 40px;
}

.card .card-body .full-name {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px 0 0;
}

.card .card-body .username {
    font-size: 13px;
    color: #777;
    margin: 5px 0 0;
}

.card .card-body .city {
    font-weight: 500;
    margin: 10px 0 0;
}

.card .card-body .desc {
    line-height: 24px;
}

.card .social-icon {
    font-size: 18px;
    margin: 0 7px;
}

.card .social-icon.facebook {
    color: #3b5999;
}

.card .social-icon.twitter {
    color: #55acee;
}

.card .social-icon.tumblr {
    color: #34465d;
}

.card .social-icon.youtube {
    color: #cd201f;
}

.card .social-icon.linkedin {
    color: #0077b5;
}

.card .social-icon.google-plus {
    color: #dd4b39;
}

.card .card-footer {
    display: table;
    width: 100%;
    border-top: 1px solid #e6e6e6;
}

.card .card-footer .col {
    display: table-cell;
    padding: 5px 10px;
    font-size: 15px;
}

.card .card-footer .count {
    font-size: 18px;
    font-weight: 600;
}

.vr {
    border-right: 1px solid #e6e6e6;
}

@media screen and (max-width: 575px) {
    .card {
        width: 96%;
    }

    .card .card-body {
        padding: 10px 20px;
    }

    .card .card-footer .col {
        padding: 0 10px;
    }

    .card .card-footer .count {
        display: block;
        margin-bottom: 5px;
    }
}


a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}
.navbar{
	padding: 15px 10px;
	background: #fff;
	border: none;
	border-radius: 0;
	margin-bottom: 40px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

.navbar-btn{
	box-shadow: none;
	outline: none!important;
	border: none;
}

.line{
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#sidebar {
    min-width: 200px;
    max-width: 200px;
    background: black;
    color: #fff;
    transition: all 0.3s;
    height: 100%;
}
#sidebar.active{
	margin-left: -200px;
}

#sidebar ul.components li{
	padding: 20px 0px;
	border-bottom: 1px solid #47748b;
}


#sidebar ul li a{
	padding: 10px;
	font-size: 1.1em;
	display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

@media(maz-width:768px){
	#sidebar{margin-left: -200px;}
	#sidebar.active{
		margin-left: 0px;
	}
	#sidebarCollapse span{
		display: none;
	}
}

.blogpost{
  obackground-color:#f5f5f5;
  padding-left:10px;
  padding-right:10px;
  padding-top:10px;
  overflow:hidden
}

.post{
  text-align: justify;
}

.btn-info{
  float: right;
}

#header{
    background-color: #f1f1f1;
    width:800px;
    height:200px;
    border:1px solid red;
    padding: 20px;
    text-align: center;
}

#col1{
    height: 500px;
}
#col2{
    height: 300px;
    text-align:center;
}
#colheader{
    background-color: #646363;
    margin:0px;
}
#colbody{
    
    height:300px;
    
}

.clock{
    width: 180px;
    height: 180px;
    margin-left:60px;
    margin-top: 200px;
}
#clockcontainer{
    position:relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    background: #999;
    padding:30px;
    box-shadow: 0 0 5px 3px rgb(18, 168, 25);
    
}
.question{
    margin-top:100px;
    width: 1000px;
    height: 1000px;
}